extends layout

block content
  main
    h1 Dashboard
    h3 Services
    each val in services
      div.leftAlign
        div= val.std
        div= val.etd
        if val.platform
          div= val.platform
        else
          div Platform unknown
