extends layout

block content
  div 
  each val in services
    div
      div.entry= val.std
      div.entry= val.etd
      if val.platform
        div.entry= val.platform
      else
        div.entry.red Platform unknown
