extends layout

block content
  main
    h1 Dashboard
    h3 Services
    div#mountPoint

block scripts
  script.
    window.serverData = !{JSON.stringify(initialData).replace(/<\//g, "<\\/")}
  script(src='/javascript/stationNames.js')
  script(src='/javascript/moment-with-locales.min.js')
  script(src='/javascript/build/dashboard.js')
